<!DOCTYPE html>
<html>
<head>
	
<!-- CSS Bootstrap-->
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
<meta name="google-site-verification" content="INRHnsJIEXQ16rtrfbDVl78yRcJTxsH_8y-gxS2EvvY" />
 <link rel="canonical" href="https://josinaldodev.onrender.com/home" />

<meta name="description" content="Eu sou Josinaldo Rodrigues, formado em Técnico em Informática e atualmente cursando Ciência da Computação. Desenvolvedor Web e Mobile. Desenvolvedor Freelancer. Criação de sistemas web, aplicativos atraentes, responsivos. Manutenção de software. Entre contato comigo no WhatsApp a qualquer momento!">
<meta name="author" content="Josinaldo Rodrigues Soares">
<meta name="keywords" content="Josinaldo Rodrigues Soares, web designer, desenvolvedor, desenvolvedor freelancer, programador, front-end, back-end, fullstack, mobile, develope, desenvolvedor, desenvolvedores de aplicativos, desenvolvedor web, programador php, desenvolvedor mobile, web full stack, desenvolvedor front end, backend frontend, desenvolvedor back end,
frontend backend, desenvolvedor pleno, portfolio front end, desenvolvedor de app, desenvolvedor php, desenvolvedor full stack, programador full stack, programador front end, desenvolvedor fullstack pleno, desenvolvedor de software freelancer,
desenvolvedor laravel, desenvolvedor cakephp, desenvolvedor vuejs, desenvolvedor vue, desenvolvedor angular, desenvolvedor flutter, desenvolvedor angularjs, desenvolvedor ionic, programador laravel, programador cakephp,
programador vuejs, programador vue, programador angular, programador flutter, programador angularjs, programador ionic, programador php freelancer freelancer dev
freelancer programming,
freelancer de programação,
criador de sites,
agencia web,
criação de sites profissionais,
desenvolvedores php,
desenvolvedor php,
desenvolvedor laravel,
sistema web php,
desenvolvedor full stack php,
programador em php,
programador php senior,
Desenvolvedor Web,
php desenvolvimento web, programador php home office">


<title>Josinaldo | Portfolio</title>

<!-- Favicon -->
 <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/png">

<!-- font awesome icons-->
<link rel="stylesheet" href="../static/css/all.min.css">

<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" href="../static/css/styles.css">

<!-- Responsive css file -->
<link rel="stylesheet" href="../static/css/responsive.css">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body >


		<!--==================== Navegaçao==============-->
		<div class="header_area">
			<div class="main-menu">
				<nav class="navbar navbar-expand-lg navbar-light">
					  <div class="container">
					    <a class="navbar-brand" href="#"><img src="https://i.postimg.cc/rwvQw3K1/Logobat.png"></a>
					    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					      <span class="navbar-toggler-icon"></span>
					    </button>
					    <div class="collapse navbar-collapse" id="navbarNav">
					      <div class="ms-auto"></div>
					      <ul class="navbar-nav">
					        <li class="nav-item">
					          <a class="nav-link active" aria-current="page" href="home">Home</a>
					        </li>
					        <li class="nav-item">
					          <a class="nav-link" href="sobremim">Sobre mim</a>
					        </li>
					        <li class="nav-item">
					          <a class="nav-link" href="projetos">Projetos</a>
					        </li>
					        <li class="nav-item dropdown">
								<a class="nav-link  dropdown-toggle" role="button" href="#" data-bs-toggle="dropdown" tabindex="-1" aria-expanded="false">Contato</a>
								<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								  <li><a class="dropdown-item" href="https://wa.me/5598985161840" target="_blank">WhatsApp</a></li>
								  <li><a class="dropdown-item" href="https://instagram.com/josinaldo.17" target="_blank">Instagram</a></li>
								  <li><a class="dropdown-item" href="https://www.linkedin.com/in/josinaldo-rodrigues-7a5510322"  target="_blank" >Linkedin</a></li>
								  <li><a class="dropdown-item" href="https://mail.google.com/mail/?view=cm&fs=1&to=josinaldor869@gmail.com" target="_blank">Email</a></li>
	  
							  </ul>
							  </li>
					      </ul>
					    </div>
					  </div>
					</nav>
			</div>
		</div>

		<!-- ====================== FIM NAVEGAÇAO ===================-->

		<!-- ================ HOME ================= -->

		<main class="site-main">
			<!--- ==================== APRESENTAÇAO =============== -->
			<section class="site-banner">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 site-title">
							<h3 class="title-text text-uppercase">Olá</h3>
							<h1 class="title-text text-uppercase">Eu sou <strong>Josinaldo</strong></h1>
							<h4 class="title-text text-uppercase"  id="changing-title" >Desenvolvedor WEB</h4>

						</div>

						<div class="col-lg-6 banner-image">
							<img src="https://i.postimg.cc/SsBtQCCr/Eu-Logo.png" class="img-fluid">
						</div>
					</div>
				</div>
			</section>
			<!--- ======================== FIM APRESENTAAÇO ================ -->

			<!-- ======================== BIOGRAFIA ========================-->
				<section class="about-area-home">
					<div class="container">
						<div class="row">
							<div class="col-lg-3">
								<div class="aboutimage">
									<img src="https://i.postimg.cc/R0xcVhrR/Perfil.png" class="img-fluid">
								</div>
							</div>
							<div class="col-lg-9 about-title">
								<h2 class="text-uppercase pt-5">
									<span>Deixe-me <strong>apresentar</strong></span>
								</h2>
								<div class="bio w-100">
									<p class="parag">
										Eu sou Josinaldo Rodrigues, e minha jornada no mundo da programação tem 
										sido fascinante. 🌟 Com habilidades em Java, JavaScript, PHP, desenvolvimento mobile 
										e criação de bots de automação para redes sociais como Telegram, WhatsApp e Discord,
										além do meu conhecimento em bancos de dados populares, me tornei um desenvolvedor Full Stack
										em constante busca de aprendizado e novos desafios.
									</p>
									<p class="parag">
										Estou sempre explorando maneiras de aplicar meu conhecimento de forma prática e eficaz. O que
										realmente me motiva é ajudar as pessoas a resolverem seus problemas com soluções inovadoras. 
										Acredito que o desenvolvimento de sistemas é uma ferramenta poderosa para transformar o dia a
										dia de quem precisa, e sempre me empenho para entregar resultados eficientes e úteis.
									</p>
									<p class="parag">
									A cada projeto, vejo uma oportunidade de inovar e crescer como desenvolvedor, buscando sempre 
									melhorar minhas habilidades e contribuir de forma significativa.
									</p>
								</div>

							</div>
						</div>
					</div>
				</section>

		<!--  -+=============  FIM BIOGRAFIA =============-->



	<!-- ======================== CONTATOS ========================-->



					
		<div>

			<div class="contrateme-social text-center">
				<h3 class="text-uppercase">ENCONTRE-ME</h3>
				<p class="parag">Sinta-se à vontade para falar comigo</p>
				<a href="https://www.linkedin.com/in/josinaldo-rodrigues-7a5510322"><i class="fab fa-linkedin"></i></a>
				<a href="https://instagram.com/josinaldo.17"><i class="fab fa-instagram"></i></a>
				<a href="https://wa.me/5598985161840"><i class="fab fa-whatsapp"></i></a>
			</div>


		</div>


		<footer class="footer-area">
				<div class="container">
					<div>


						<div class="site-logo text-center py-4">
							<a href="#"><img  src="https://i.postimg.cc/rwvQw3K1/Logobat.png" alt=""></a>
						</div>
					<div class="rodapefinal row"  >  
						
						
						<div class="copyrights text-center col-md-4">
							<p class="parag">
								Desenvolvido por Josinaldo R Soares
							</p>
						</div>

						<div class="text-center col-md-4" >
							<p class="parag">
								Direitos autorais © 2023 BAT
							</p> 

						</div>

						<div class="social text-center col-md-4" >
							<a href="https://www.linkedin.com/in/josinaldo-rodrigues-7a5510322"><i class="fab fa-linkedin"></i></a>
							<a href="https://instagram.com/josinaldo.17"><i class="fab fa-instagram"></i></a>
							<a href="https://wa.me/5598985161840"><i class="fab fa-whatsapp"></i></a>
						</div>

					</div>
						
					</div>
				</div>
		</footer>

			
</main>
	




        <script src="../static/js/bootstrap.min.js"></script>


		<script type="text/javascript" >

		document.addEventListener('DOMContentLoaded', function () {
				// Array com as frases
				const titles = [
					"Desenvolvedor WEB",
					"Desenvolvedor Mobile",					
					"Desenvolvedor de Software",
					"Desenvolvedor Full Stack",
					"Freelancer"
				];

				// Referência ao elemento HTML
				const titleElement = document.getElementById('changing-title');

				// Índice para rastrear a frase atual
				let index = 0;
				let letterIndex = 0;
				let currentTitle = '';

				// Função para escrever o título letra por letra
				function typeTitle() {
					if (letterIndex < titles[index].length) {
						currentTitle += titles[index][letterIndex]; // Adiciona a próxima letra
						titleElement.textContent = currentTitle; // Atualiza o texto no HTML
						letterIndex++;
						setTimeout(typeTitle, 100); // Atraso de 100ms para cada letra
					} else {
						setTimeout(changeTitle, 3000); // Espera 2 segundos antes de mudar de título
					}
				}

				// Função para mudar de título
				function changeTitle() {
					index = (index + 1) % titles.length; // Atualiza o índice
					letterIndex = 0;
					currentTitle = ''; // Reseta o título atual
					titleElement.textContent = ''; // Limpa o texto no HTML
					typeTitle(); // Começa a escrever o novo título
				}

				// Começar a escrever o primeiro título
				typeTitle();
			});


			</script>
</body>
</html>
